.header-div {
  align-items: center;
  background-color: #ffd41d;
  display: flex;
  height: 100px;
  justify-content: center;
  width: auto;
}

.search-profile {
  background-color: rgb(14, 14, 170);
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  transition: 0.3s;
}

.search-profile:hover {
  background-color: white;
}

.page-tittle {
  display: block;
  text-align: center;
}

.knife {
  color: rgb(14, 14, 170);
  display: block;
  font-size: 10vh;
  text-align: center;
}
