* {
  margin: 0px;
  padding: 0px;
}

.body {
  width: 100%;
}

.login-page {
  height: 100vh;
  background-image: url('https://static.vecteezy.com/ti/fotos-gratis/p1/2225459-conceito-de-comida-e-cozinha-saudavel-com-uma-espatula-de-madeira-e-vegetais-no-fundo-de-pedra-escura-gratis-foto.jpg');
}

.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-login {
  padding: 5px;
  max-width: 200px;
  border-radius: 7px;
  border-color: yellow;
}
.input-login::placeholder {
  color: black;
  opacity: 0.4;
  padding-left: 11vh;
}

#login-h1 h1 {
  color: yellow;
}

#login-h1 img {
  width: 300px;
}

.input-login {
  width: 300px;
}

.button-login {
  background-color: rgb(211, 211, 0);
  color: white;
  padding: 5px 7px;
  border-radius: 7px;
  transition: 0.3s;
  cursor: pointer;
}

.button-login:hover {
  background-color: white;
  border-color: yellow;
  color: yellow;
}
