/* body {
  background-image: url('https://img.freepik.com/vetores-premium/ilustracao-de-cor-dos-desenhos-animados-de-fast-food_7243-196.jpg?w=2000');
} */

.card-meals img {
  max-width: 300px;
  padding: 10px;
}

.card-meals {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-meals p {
  background-color: #ffd41d;
  display: flex;
  justify-content: center;
  margin: 10px;
}
