.email {
  margin-left: 7vh;
}

.nav-buttons {
  text-align: center;
  margin: 0 5px;
  background-color: rgb(14, 14, 170);
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.div-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}