h1 {
  background-color: #2f4858;
  color: white;
  font-size: 2.5em;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h2 {
  align-self: center;
  display: flex;
  justify-content: center;
  justify-self: center;
}

[ data-testid = 'recipe-photo' ] {
  align-self: center;
  background-color: #f6ae2d;
  justify-content: center;
  margin: 5px;
  padding: 5px;
  width: 300px;
}

img {
  width: 50%;
}

p {
  margin-left: 12px;
}
